fastapi
uvicorn[standard]

posthog

boto3
requests
httpx

unstructured[pdf,local-inference]

langchain-core
langchain
langchain-community
langchain-openai
langchain-groq


upstash-redis
upstash_vector
